{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/style.css",
  "tailwindFunctions": ["cn", "cva", "clsx", "twMerge"],
  "overrides": [
    {
      "files": ["*.json", "*.jsonc", "*.yaml", "*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
